* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

article {
    margin: auto;
    /* background-color: beige; */
    width: 70%;
    box-shadow: 5px 5px 10px gray;
    margin-top: 5em;
    /* background-color: gray; */
    /* background-color: #764F00; */
    /* background-color: #563400; */
    background-image: linear-gradient(to left bottom, #808080, #8d8d8e, #999a9d, #a6a8ab, #b2b6ba);
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 12px;
}

.info {
    display: grid;
    grid-template-columns: 30% 70%;
    place-items: center;
    margin: auto;
    width: 100%;
    /* background-color: white; */
    background-color: #7A7D81;
    /* color: gray; */
    color: #DFEEEE;
    margin-top: 3em;
    border-radius: 12px;
}

figure > img {
    height: 210px;
    width: 210px;
    border-radius: 150px;
}

.bio-info {
    line-height: 2em;
    width: 80%;
}
.bio-info > h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.bio-info > p {
    /* margin-top: 1em; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    word-spacing: 5px;
}

.bio-info > .time {
    display: inline-block;
    margin-top: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

nav {
    margin: 1em auto;
    width: 40%;
    /* margin-top: 1em; */
    /* background-color: #4682B4; */
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

nav > ul > li > a {
    color: #ADD8E6;
    text-decoration: none;
}

nav > ul > li > a > button {
    width: 100px;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 12px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

nav > ul > li > a > button :focus-visible {
    outline: 3px solid blueviolet;
}

nav > ul > li > a > button:hover{
    box-shadow: 5px 5px 10px #2F4F4F;
}

.nav-img {
    height: 50px;
    width: 50px;
}



.sub-info {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    margin-top: 2em;
    background-color: #7A7D81;
    padding: 20px 10px;
    color: #DFEEEE;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hobbies, .dislikes {
    width: 90%;
    /* background-color: gray; */
    background-image: radial-gradient(circle, #808080, #7d7d7d, #797979, #767676, #737373);
    border-radius: 12px;
    line-height: 2em;
    padding: 10px;
}

.hobbies > ul, .dislikes > ul {
    list-style: circle;
    margin-top: 1em;
    margin-left: 1.5em;
}

.btn {
    display: block;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: gray;
    margin: 1.5em auto;
    text-align: center;
    width: 150px;
    font-size: larger;
    font-weight: bolder;
    color: #DFEEEE;
    cursor: pointer;
    border: 2px solid gray;
}

.btn:hover {
    background-color: #DFEEEE;
    color: gray;
    box-shadow: 10px 10px 10px rgb(114, 110, 110);
    border: 2px solid gray;
    text-decoration: none;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 4em;
}